[package]
name = "hwgc_soft"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
path = "src/lib.rs"
crate-type = ["cdylib", "staticlib", "lib"]

[[bin]]
path = "src/main.rs"
name = "hwgc_soft"

[dependencies]
prost = "0.11"
zstd = "0.12"
anyhow = "1.0.75"
libc = "0.2"
lazy_static = "1.4.0"
log = "0.4"
env_logger = "0.10"
zsim-hooks = "0.1.0"
clap = { version = "4.4.10", features = ["derive"] }

[build-dependencies]
prost-build = { version = "0.11" }

[features]
m5 = []
zsim = []
